.container{
    display: inline-block;
    width: auto;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.OptionContainer{
    position: absolute;
    border: 1px solid gray;
    max-height: 200px;
    overflow-y: scroll;
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
}

.inputContainer{
    background: #F5F4F4;
}

.searchInput{
    border: none;
    padding: 0;
    outline: none;
    font-size: 18px;
    height: 40px;
    background: transparent;
}

.searchInput:focus-within .inputContainer{
    border-bottom: 1px solid;
}